<div *ngIf="post">
  <h2>Post ID: {{post.id}}</h2>
  <h4>{{post.body}}</h4>
  <h3 *ngIf="author"><b>by:</b>
    <a routerLink="/users/{{post.userId}}">{{author.username}}<i>({{author.email}})</i></a>
  </h3>
  <h5><i>Comments:</i></h5>
  <table class="table">
    <tr *ngFor="let comment of comments">
      <td><p>{{comment.body}}</p>
        <p><i><b>by:</b> {{comment.email}}</i></p>
      </td>
    </tr>
  </table>
  <div class="btn-wrapper">
    <button class="btn btn-primary" (click)="goBack()">Go Back</button>
  </div>
</div>
