<h2>New post:</h2>
<h4>From: UserID=1</h4>
<div class="form">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Post title:</label>
      <input #postTitle type="text" class="form-control" id="exampleFormControlInput1"/>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post body:</label>
        <textarea #postBody class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>
  </form>
  <div class="btn-wrapper">
    <button class="btn btn-outline-secondary" (click)="goBack()">Cancel</button>
    <button class="ml-2 btn btn-success" (click)="save(postTitle.value, postBody.value)">Save</button>
  </div>
</div>
