<div class="modal" *ngIf="author">
  <div class="modal-body">
    <h4>Author: user ID: {{author.id}}, {{author.username}}</h4>
    <p><b>Name: </b><i>{{author.name}}</i></p>
    <p><b>e-mail: </b><i>{{author.email}}</i></p>
    <h4>Adress:</h4>
    <p><b>ZIP: </b><i>{{author.address.zipcode}}</i></p>
    <p><b>city: </b><i>{{author.address.city}}</i></p>
    <p><b>suite: </b><i>{{author.address.suite}}</i></p>
    <p><b>Street: </b><i>{{author.address.street}}</i></p>
    <p><b>Phone: </b><i>{{author.phone}}</i></p>
    <p><b>Website: </b><i>{{author.website}}</i></p>
    <p><b>Company: </b><i>{{author.company.name}}</i></p>
    <div class="btn-wrp">
      <button class="btn btn-outline-primary" (click)="close()">Close</button>
    </div>
  </div>
  <div (click)="close()" id="modal-background"></div>
</div>
