<div class="row">
  <div class="col-md-12">
    <div class="btn-wrapper">
      <button routerLink="/create-post" class="btn btn-success">Add new post</button>
    </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author [userID]</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td class="clickable">
          <!-- 1: [routerLink]="['/posts', post.id]"-->
          <a (click)="goToPost(post.id)">{{post.title}}</a>
        </td>
        <td>
          <button class="btn btn-outline-dark" (click)="showAuthor(post.userId)">Author [{{post.userId}}]</button>
        </td>
        <td>
          <button class="btn btn-outline-dark" (click)="showPost(post)">Comments</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="paginator">
      <nav aria-label="...">
        <ul class="pagination">
          <li [ngClass]="{'disabled': currentPage == 0 }" class="page-item">
            <a (click)="previousPage()" class="page-link">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': currentPage == page }">
            <a
              class="page-link"
              routerLinkActive="active"
              (click)="goToPage(page)"
            >{{page+1}}
            </a>
          </li>
          <li [ngClass]="{'disabled': currentPage == 9 }" class="page-item">
            <a (click)="nextPage()" class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<app-author-modal></app-author-modal>
<app-comments-modal></app-comments-modal>
