.btn-wrapper {
  text-align: end;
  margin: 10px 0;
}

table {
  a {
    cursor: pointer;
  }
  .clickable:hover {
    cursor: pointer;
  }
  th, td {
    vertical-align: middle;
  }
}

.paginator {
  //text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;

  .ngx-pagination {
    padding-inline-start: 0 !important;
  }
  a:hover {
    text-decoration: none;
  }
}

