<div class="modal" *ngIf="post">
  <div class="modal-body">
    <h3>Post ID: {{post.id}}</h3>
    <h4>comments: </h4>
    <table class="table">
      <tr *ngFor="let comment of comments">
        <td><h5>{{comment.name}}</h5>
          <p>{{comment.body}}</p>
          <p><i><b>by:</b> {{comment.email}}</i></p>
        </td>
      </tr>
    </table>
    <div class="btn-wrp">
      <button class="btn btn-outline-primary" (click)="close()">Close</button>
    </div>
  </div>
  <div (click)="close()" class="modal-background"></div>
</div>
