<h2>User ID: {{user.id}}</h2>
<h4>{{user.name}}</h4>
<p>E-Mail: <a></a>{{user.email}}</p>
<p>Adress:</p>
<p>ZIP: {{user.address.zipcode}}</p>
<p>city:{{user.address.city}}</p>
<p>suite: {{user.address.suite}}</p>
<p>Street: {{user.address.street}}</p>
<p>Phone: {{user.phone}}</p>
<p>Website: {{user.website}}</p>
<p>Company: {{user.company.name}}</p>

<div class="btn-wrapper">
  <button class="btn btn-success" (click)="goBack()">Go Back</button>
</div>
